<div class="row text-center">
	<h1 class="text-center">APLICATIVO PARA LA GESTIÓN DE CÁMARAS DE SEGURIDAD <br> DE BOGOTÁ</h1>
	<br><br>
	<%= image_tag "bogota_humana.jpg", size: "600x160"%> 
</div>

<nav class="navbar navbar-default navbar-fixed-bottom text-center" style="margin-bottom: -4px;
padding-bottom: 7px;">
  <br>
  <i class="fa fa-copyright"></i> Todos los derechos reservados - 2015
  <br>
  v1.0.0
</nav>