<div class="container">
  <div class="row text-center">
    <%= image_tag "foto_inicial_app.jpg" %>
    <h1 class="text-center">Aplicativo para la gestión de cámaras de seguridad.</h1>
    <%= image_tag "fvs-bgthumana.png" %>     
  </div>
  <p class="text-center"><i class="fa fa-copyright"></i> Todos los derechos reservados 2015
  <br>
  v1.0.0</p>
</div>