<tr>
	<td><%= fecha event.date %></td>
	<td><%= event.mebog %></td>
	<td><%= event.fvs %></td>
	<td><%= link_to edit_camera_event_path(event.camera,event) do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </td>
</tr>

