<p>
  <strong>Mebog:</strong>
  <%= @event.mebog %>
</p>

<p>
  <strong>Fvs:</strong>
  <%= @event.fvs %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Eventable:</strong>
  <%= @event.eventable %>
</p>


