/*
 *= require jquery-ui
 *= require bootstrap-datepicker3
 *= require cameras
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap3-switch";


@media screen and (min-width: 768px) {
  
  .modal-dialog  {width:80%;}

}

.row {
    margin-top: 32px;   
}
.round {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.hollow {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFF;    
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.round.blue {
    background-color: #3EA6CE;
}

.round.red {
    background-color: #610B0B;
}

.round.green {
    background-color: #42A129;
}

.round.hollow.blue {
    color: #3EA6CE;   
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #3EA6CE;
    -moz-box-shadow: 0px 0px 0px 3px #3EA6CE;
    box-shadow: 0px 0px 0px 3px #3EA6CE;
}

.round.hollow.red {
    color: #610B0B;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #610B0B;
    -moz-box-shadow: 0px 0px 0px 3px #610B0B;
    box-shadow: 0px 0px 0px 3px #610B0B;
}

.round.hollow.green {
    color: #42A129;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #42A129;
    -moz-box-shadow: 0px 0px 0px 3px #42A129;
    box-shadow: 0px 0px 0px 3px #42A129;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

/* Blue Flat Button
==================================================*/
.btn-xlarge{
  position: relative;
  vertical-align: center;
  margin: 30px;
  /*width: 100%;*/
  height: 100x;
  padding: 48px 48px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #62b1d0;
  border: 0;
  border-bottom: 3px solid #9FE8EF;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #9FE8EF;
  box-shadow: inset 0 -3px #9FE8EF;
}
.btn-xlarge:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-xlarge:hover {
  background: #45E1E8;
}


/* mgoogle-maps */
#map-canvas {
  height: 800px;
  width: 600px;
  margin: 0;
  padding: 0;
}

.navbar-white {
  background-color: #FFF;
}

.nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    background-color: #FFF;
}