<div class="row">
	<h1 class="text-center">APLICATIVO PARA LA GESTIÓN DE CÁMARAS DE SEGURIDAD DEL FVS BOGOTÁ</h1>
</div>
<br>
<div class="row text-center">		
	<%= link_to cameras_path, class: "btn btn-xlarge" do %>
		<i class="fa fa-video-camera fa-5x"></i> <br>CÁMARAS
	<% end %>

	<%= link_to reports_index_path, class: "btn btn-xlarge" do %>
		<i class="fa fa-file-text-o fa-5x"></i> <br>REPORTES
	<% end %>
</div>
<br>