<!-- <div class="row pull-right"> -->
  <div class="col-lg-4 col-lg-offset-4">
    <div class="input-group">
      <%= form_tag cameras_path, method: 'get' do %>
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "Buscar cámaras..." %>
      <% end %>
      <span class="input-group-btn">      
        <%= link_to '#', class: "btn btn-info" do  %> 
        <i class="fa fa-search"></i>
        <% end %>
      </span>      
    </div> 
  </div>
  <br>
<!-- </div> -->
